
.bg {
    background-image: url('../../../../public/img8.jpg');
    height: 60vh;
    background-size: cover;
    width: 91%;
    border-radius: 4px;
    margin: 0px 90px 0px 68px;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
}
.whiteBox {
    width: 56%;
    height: 80vh;
    margin: 200px 0px 20px 180px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    align-content: center;
}

.boxBody {
    padding-top: 80px;
}

.boxBody h1{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.8;
}
.boxBody p {
    width:85%;
    margin: 40px 0px 0px 60px;
}

.italicstyle {
    font-family: var(--font-lora);
    font-size: 16px;
}

.boxline {
    background: #EEEEEE;
    height: 3px;
    width: 500px;
    margin: 0px 0px 20px 200px;  
}

.body {
    width: 70%; 
    margin: 100px 0px 220px 245px;
}

.heading{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.paragraph1 {
    text-align: center;
}

.line2 {
    background: #55AE95;
    height: 3px;
    width: 200px;
    margin: 5px 10px 16px 432px;
}


.whatToDo {
    height: 60vh;
    width: 100%;
    position: relative;
}

.wrapperToDo {
    display: flex;
    margin-top: 130px;
    width: 92%;
}

.leftsideBody {
    flex: 1.5;
    margin-left: 110px;
    align-content: center;
}

.leftsideBody h2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

.leftsideBody p {
    width: 80%;
    margin-left: 50px;
}

.toDoLine {
    background:#55AE95;
    height: 4px;
    width: 50px;
    margin: 10px 50px;  
}

.rightsideBody {
    font-family: var(--font-catamaran);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageShadow {
    width: 350px;
    height: 460px;
    margin: 0px 0px 280px 170px;
    background-color: #93C6E7;
    
    align-content: center;
    border-radius: 4px;
    position: absolute;
    z-index: -1;
}

.img{
    width: 350px;
    height: 460px;
    margin: 0px 0px 130px 80px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}
